*/.yas-compiled-snippets.el

.config/emacs/auto-save-list
.config/emacs/eln-cache
.config/emacs/elpa
.config/emacs/transient
.config/emacs/projectile-bookmarks.eld
.config/emacs/tramp
.config/emacs/url
.config/emacs/tree-sitter

.config/emacs/recentf
.config/emacs/custom.el

.config/emacs/tags/*
